 @font-face {
  font-family: TT lakes Neue;
  src: url(font/TT\ Lakes\ Neue\ Trial\ Bold.ttf);
  font-weight: 700;
 }

 @font-face {
  font-family: TT Lakes Neue;
  src: url(font/TT\ Lakes\ Neue\ Trial\ Condensed\ Regular.ttf);
  font-weight: 400;
 }
 
 * {
  font-family: TT Lakes Neue;
 }
 .main-header {
    display: flex;
    flex-direction: row;
    align-items: center;       
    gap: 16px;                 
    min-width: 320px;
    height: 88px;
    padding: 0 16px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__divider {
    width: 2px;
    height: 32px;
    background-color: #E5E5E5;
  }

  .header__chat,
  .header__call,
  .header__profile {
    display: none;
  }
  
    .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
   background-color:#F8F8F8;
  }

  .content__title {
    margin:20px 0;
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 15px;
  }

  h1::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 6px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0 6px 6px 0;
  }

  .body__divider {
    width: 4px;
    height: 40px;
    background-color:#41F6D7;
  }

  .body__text {
    margin: 0;
    padding-left: 15px;
  }

  .readmore {
    width: 132px;
    height: 24px;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
   align-items: center;
   }

   .readmore__text {
    margin-left: 10px;
   }

   .content__menu {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    min-width: 0;
   }

  .content__menu button {
    flex: 0 0 auto;         
    padding: 8px 16px;
    border: 2px solid transparent;
    background: none;
    }

.content__menu button:hover,
.content__menu button:focus {
  border: 2px solid #B8FFEC;
  border-radius: 8px;
  background-color: transparent;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
  height: 208px;
}

/* only for desktop */
.content__action {
  display: none;
}

.only-tablet,
.only-desktop {
  display: none;
}
