@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

   * {
    font-family:'Roboto', sans-serif ;
   }
  
  .header {
    display: flex;
    justify-content: space-around;  
    align-items: center;       
    gap: 16px;                 
    min-width: 320px;
    max-width: 768px;
    height: 88px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .header__divider {
    width: 2px;
    height: 32px;
    background-color: #E5E5E5;
  }

  .header__chat,
  .header__call,
  .header__profile {
    display: none;
  }

  /* hide text on phone + tablet */
  /* .header__action-text {
    display: none;
  } */
  

  .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
   background-color:#F8F8F8;
  }

  .body__title {
    margin:20px 0;
    font-size: 1.7rem;
  }

  .body__divider {
    width: 4px;
    height: 40px;
    background-color:#41F6D7;
  }

  .body__text {
    margin: 0;
  }

  .readmore {
    width: 132px;
    height: 24px;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 16px;
    font-family: "TT Lakes Neue Trial", sans-serif;
    cursor: pointer;
    display: flex;
   align-items: center;
   }

   .readmore__text {
    margin-left: 10px;
   }

   .body__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 0;
   }

  .body__menu button {
    display: flex;
    justify-content: space-between;
    width: 200px;
    flex: 0 0 auto;          /* stays in one row */
    padding: 14px 20px;
    border: none;
    background: #f5f5f5;
    font-size: 14px;
    flex-wrap: nowrap;
    border: none;
    }

.body__menu button:hover,
.body__menu button:focus {
  border: 2px solid #B8FFEC;
  border-radius: 8px;
  background-color: transparent;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
  height: 208px;
}

/* only for desktop */
.body__action {
  display: none;
}

  /* only for tab */
.body__menu .b1,
.body__menu .b4,
.body__menu .b5,
.body__menu .b6,
.body__menu .b7 { 
  display: none; 
}

.only-tablet,
.only-desktop {
  display: none;
}
