    * {
    font-family: "TT Lakes Neue Trial", sans-serif;

  } 
  
  .main-header {
    display: flex;
    flex-direction: row;
    align-items: center;       
    gap: 16px;                 
    min-width: 320px;
    max-width: 768px;
    height: 88px;
    padding: 0 16px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__divider {
    width: 2px;
    height: 32px;
    background-color: #E5E5E5;
  }

  .header__chat,
  .header__call,
  .header__profile {
    display: none;
  }
  
    .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 320px;
    max-width: 768px;
    padding: 0 16px;
   background-color:#F8F8F8;
  }

  .body__title {
    margin:20px 0;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .body__divider {
    width: 4px;
    height: 40px;
    background-color:#41F6D7;
  }

  .body__text {
    margin: 0;
  }

  .readmore {
    width: 132px;
    height: 24px;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
   align-items: center;
   }

   .readmore__text {
    margin-left: 10px;
   }

   .body__menu {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    min-width: 0;
   }

  .body__menu button {
    flex: 0 0 auto;         
    padding: 8px 16px;
    border: none;
    background: none;
    }

.body__menu button:hover,
.body__menu button:focus {
  border: 2px solid #B8FFEC;
  border-radius: 8px;
  background-color: transparent;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
  height: 208px;
}

/* only for desktop */
.body__action {
  display: none;
}

.only-tablet,
.only-desktop {
  display: none;
}
